.dashboard {
  color: white;
  background-color: #000;
  padding: 20px;
}

.summary {
  display: flex;
  gap: 20px;
}

.card {
  background-color: #1a1a1a;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

.filters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

.filters-container input {
  padding: 5px;
  border: 1px solid #333;
  border-radius: 3px;
  background-color: #222; /* Fundo escuro para os inputs */
  color: white; /* Texto claro nos inputs */
}

.data-table {
  margin-top: 20px; /* Espaçamento acima da tabela */
}

.data-table table {
  width: 100%;
  border-collapse: collapse;
  color: white; /* Cor do texto da tabela */
}

.data-table th {
  background-color: #333; /* Fundo escuro para cabeçalhos */
  padding: 10px;
  border: 1px solid #444; /* Borda dos cabeçalhos */
  text-align: left;
}

.data-table td {
  padding: 10px;
  border: 1px solid #444; /* Borda das células */
  text-align: left;
}

.data-table tr:nth-child(even) {
  background-color: #2a2a2a; /* Linhas pares com fundo mais claro */
}

.data-table tr:hover {
  background-color: #444; /* Destaque ao passar o mouse */
}
